/* Estilos específicos para about.html */

body {
    background-color: #F2F2F2;
    color: #595859;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F2DFDF;
    padding: 10px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    height: 100px;
}

header h1 {
    text-align: center;
    color: #d9b1ad;
    margin-left: 20px;
    font-size: 1.5rem;
}

main {
    flex: 1;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 60px;
}

.about-section {
    background-color: #F2DFDF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #D9B1AD;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #F2DFDF;
    padding: 10px;
    text-align: center;
    color: #595859;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
