/* Estilos gerais */
body {
    background-color: #F2F2F2;
    color: #595859;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F2DFDF;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Distância entre o header e o corpo da página */
}

header .logo {
    width: 60px;
    height: auto;
}

header h1 {
    margin-left: 20px;
    font-size: 24px;
}

nav.side-nav {
    position: fixed;
    top: 80px; /* Distância do topo */
    left: 0;
    width: 200px;
    height: calc(100% - 80px);
    background-color: #F2F2F2;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

nav.side-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #595859;
    border-bottom: 1px solid #ddd;
}

nav.side-nav a.active {
    background-color: #e0e0e0;
    font-weight: bold;
}

nav.side-nav .close-btn {
    font-size: 24px;
    color: #595859;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

main {
    margin-left: 220px; /* Distância do conteúdo principal da barra lateral */
    margin-top: 100px; /* Distância do conteúdo principal do header */
    padding: 20px;
}

footer {
    background-color: #F2DFDF;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos do pop-up */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    z-index: 1000; /* Garante que o pop-up ficará acima do conteúdo */
    display: none; /* Oculto por padrão */
}

.popup.active {
    display: block; /* Exibe o pop-up quando a classe active é adicionada */
}

.popup-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos do formulário */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.btn {
    background-color: #595859;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #474747;
}

.popup img {
    width: 100%; /* Ajuste a largura da imagem */
}
