/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2; /* Cor de fundo leve */
    color: #595859; /* Cor do texto principal */
}

header, footer {
    background-color: #595859;
    color: #F2DFDF;
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px); /* Ajustar para não sobrepor o header e footer */
}

#login-section {
    background: #F2DFDF;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

#login-section h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #595859;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #595859;
}

#loginForm input[type="password"] {
    padding: 0.75rem;
    border: 1px solid #D9B1AD;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 1rem;
    background-color: #F2F2F2;
}

#loginForm button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #D9B1AD;
    color: #F2DFDF;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loginForm button:hover {
    background-color: #D9C1B8;
}
